@import '~antd/dist/antd.css';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

:root {
  --primary: #EEA47FFF;
  --accent: pink;
  --white: white;
  --black: black;
  --backgroundprimary: rgb(252, 233, 225);
  --lightbg: rgba(255, 255, 255, 0.838);
  --lightgray: rgb(222, 222, 222);
  --navbarHeight: 64px
}

#root {
  margin-top: var(--navbarHeight);
  font-family: Roboto;
}

/* NAVBAR */

#sticky-nav {
  height: var(--navbarHeight);
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: var(--white);
  color: var(--black);
  box-shadow: 0 1px 6px gray;
  z-index: 10;
}

.nav-item {
  height: 100%;
  padding-left: 12px;
}

.nav-link {
  font-size: 15px;
  color: var(--black);
  height: 100%;
  display: flex;
  align-items: center;
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
}

.nav-link:hover {
  color: var(--black);
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--primary);
}

.nav-link-active {
  font-size: 15px;
  color: var(--primary);
  height: 100%;
  display: flex;
  align-items: center;
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--primary);
}

.nav-link-active:hover {
  color: var(--primary);
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--primary);
}

#nav-container {
  height: var(--navbarHeight);
}

.logo {
  padding: 0 !important;
}

.logo:hover {
  color: black;
} 

#profile-box {
  height: var(--navbarHeight);
}

#profile-btn {
  height: 100%;
  color: black;
  text-transform: none;
  border-radius: 0;
  border-bottom: 2px solid var(--white);
  border-top: 2px solid var(--white);
}

#profile-btn:hover {
  background-color: var(--white);
  border-bottom: 2px solid var(--primary);
  border-top: 2px solid var(--white);
}

/* NAVBAR END */

/* LANDING PAGE */
.bg-primary {
  background-color: var(--backgroundprimary);
}

#title {
  text-align: center;
  padding-top: 30px;
}

#primary-btn {
  background-color: var(--primary);
  color: var(--white);
}

.example-pic {
  width: 100%;
  padding: 20px;
}