@import '~antd/dist/antd.css';

:root {
  --primary: #EEA47FFF;
  --accent: pink;
  --white: white;
  --black: black;
  --lightgray: rgb(222, 222, 222);
  --navbarHeight: 68px
}

#root {
  margin-top: var(--navbarHeight);
  
}

/* NAVBAR */

#sticky-nav {
  height: var(--navbarHeight);
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: var(--white);
  color: var(--black);
}

.nav-item {
  height: 100%;
  padding-left: 12px;
}

.nav-link {
  font-size: 15px;
  color: var(--black);
  height: 100%;
  display: flex;
  align-items: center;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.nav-link:hover {
  color: var(--black);
  border-top: 2px solid white;
  border-bottom: 2px solid var(--primary);
}

.nav-link-active {
  font-size: 15px;
  color: var(--primary);
  height: 100%;
  display: flex;
  align-items: center;
  border-top: 2px solid white;
  border-bottom: 2px solid var(--primary);
}

.nav-link-active:hover {
  color: var(--primary);
  border-top: 2px solid white;
  border-bottom: 2px solid var(--primary);
}

#nav-container {
  height: var(--navbarHeight);
}

.logo:hover {
  color: black;
  border-bottom: 2px solid var(--primary);
}

#profile-box {
  height: var(--navbarHeight);
}

#profile-btn {
  height: 100%;
  color: black;
  text-transform: none;
  border-radius: 0;
  border-bottom: 2px solid var(--white);
  border-top: 2px solid var(--white);
}

#profile-btn:hover {
  background-color: var(--white);
  border-bottom: 2px solid var(--primary);
  border-top: 2px solid var(--white);
}

/* NAVBAR END */

/* LANDING PAGE */
#landing {
  min-height: calc(100vh - 52px);
  color: white !important;
}

#background-map {
  z-index: -5;
  height: calc(100vh - 52px);
  width: 100%;
  position: absolute;
  object-fit: cover;
  filter: blur(6px);
}

#title {
  text-align: center;
  padding-top: 30px;
}